<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
<form action="#" method="post" th:action="@{/protocols/submit}" th:object="${protocol}">
    <p><input type="hidden" th:field="*{id}"></p>
    <div>
        <!User>
        <!Customer>
    </div>
    <p>Work Time   <input type="number" th:field="*{workTime}"></p>
    <p>Description  <input type="text" th:field="*{description}"></p>
    <p>
        <button style="background-color: #1a53ff;
        border: none;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        margin: 20px 15px;
        cursor: pointer;" class="btn btn-primary btn-lg">Save</button>
    </p>
</form>

</body>
</html>