<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<h3 th:inline="text" align="center">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
<form th:action="@{/logout}" method="post" align="center">
    <button style=";
        border: none;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        margin: 20px 15px;
        cursor: pointer;" class="btn btn-primary btn-lg">Logout
    </button>
</form>
<a th:href="@{/}">
    <button class="btn btn-info btn-lg">Home Page
    </button>
</a>
<h1 align="center">EDIT DAILY PROTOCOL</h1>
<span th:if="${protocol =='Error!'}">Error!</span>
<span th:unless="${protocol =='Error!'}">
<form action="#" th:action="@{/protocols/submit}" method="post" th:object="${protocol}">
            <p> <input type="hidden" th:field="*{id}"></p>
            <p> Work Time in Minutes <input type="number" th:field="*{workTime}"></p>
            <p> Description <input type="text" th:field="*{description}"></p>

    <select th:field="*{customer}" class="form-control" id="customersList">
            <option value="">select customer</option>
            <option
                    th:each="customer:${customers}" th:value="${customer.id}" th:text="${customer.name}">
            </option>
        </select>

    </div>
    <p>
        <button style="background-color: #1a53ff;
        border: none;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        margin: 20px 15px;
        cursor: pointer;" class="btn btn-primary btn-lg">Save
        </button>
    </p>
</form>
</span>
</body>
</html>