<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h3 th:inline="text" align="center">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
<form th:action="@{/logout}" method="post" align="center">
    <button style=";
        border: none;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        margin: 20px 15px;
        cursor: pointer;" class="btn btn-primary btn-lg">Logout
    </button>
</form>
<a th:href="@{/}">
    <button class="btn btn-info btn-lg">Home Page
    </button>
</a>
<h1 align="center">EDIT YOUR PASSWORD</h1>
<span th:if="${user =='Error!'}">Error!</span>
<span th:unless="${user =='Error!'}">
<form action="#" th:action="@{/user/editPasswordSubmit}" method="post" th:object="${user}">
            <p> <input type="hidden" th:field="*{id}"></p>
            <p>  <input type="hidden" th:field="*{username}"></p>
            <p> <input type="hidden" th:field="*{fullName}"></p>

             <p>Password</p>
    <p>
             <input type="text" th:field="*{password}">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    </p>

    <p>Verify Password</p><p>
             <input type="text" th:field="*{password}">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    </p>

    <div class="form-group" type="hiden">
        <input class="form-check-input" type="hidden" id="admin" th:field="*{role}" value="ADMIN" required
               checked>
        <input class="form-check-input" type="hidden" id="user" th:field="*{role}" value="USER" required>
    </div>

  <p>
        <button style="background-color: #1a53ff;
        border: none;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        margin: 20px 15px;
        cursor: pointer;" class="btn btn-primary btn-lg">Save
        </button>
    </p>
</form>
</span>

</body>
</html>