<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<h3 th:inline="text" align="center">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
<form th:action="@{/logout}" method="post" align="center">
    <button style=";
        border: none;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        margin: 20px 15px;
        cursor: pointer;" class="btn btn-primary btn-lg">Logout
    </button>
</form>
<span th:if="${user =='Error!'}">Error!</span>
<span th:unless="${user =='Error!'}">
<form action="#" th:action="@{/user/editSubmit}" method="post" th:object="${user}">
            <p> <input type="hidden" th:field="*{id}"></p>

            <p> Username <input type="text" th:field="*{username}"></p>
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> or username is busy

            <p> Full Name <input type="text" th:field="*{fullName}"></p>
    <p th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></p>


             <input type="hidden" th:field="*{password}"></p>


    <div class="form-group">
        <p>ADMIN OR EMPLOEE:</p>
        <input class="form-check-input" type="radio" id="admin" th:field="*{role}" value="ADMIN" required
               checked>
        <label for="admin">ADMIN</label>
        <input class="form-check-input" type="radio" id="user" th:field="*{role}" value="USER" required>
        <label for="user">EMPLOEE</label>
    </div>
  <p>
        <button style="background-color: #1a53ff;
        border: none;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        margin: 20px 15px;
        cursor: pointer;" class="btn btn-primary btn-lg">Save
        </button>
    </p>
</form>
</span>

</body>
</html>