<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Customer</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<h3 th:inline="text" align="center">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
<form th:action="@{/logout}" method="post" align="center">
    <button style=";
        border: none;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        margin: 20px 15px;
        cursor: pointer;" class="btn btn-primary btn-lg">Logout
    </button>
</form>
<a th:href="@{/}">
    <button class="btn btn-info btn-lg">Home Page
    </button>
</a>
<h1 align="center">ADD NEW CUSTOMER</h1>
<form action="#" method="post" th:action="@{/customers/submit}" th:object="${customer}">
    <p><input type="hidden" th:field="*{id}"></p>
  <p>
      name  <input type="text" th:field="*{name}">
      <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
  </p>
    <p>
        Name Project  <input type="text" th:field="*{nameProject}">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{nameProject}"></span>
    </p>
    <p>
        Contract Date  <input type="date" th:field="*{contract}">
        <span th:if="${#fields.hasErrors('contract')}" th:errors="*{contract}"></span>
    </p>
  <p>
    <button style="background-color: #1a53ff;
        border: none;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        margin: 20px 15px;
        cursor: pointer;" class="btn btn-primary btn-lg">Save</button>
  </p>
</form>

</body>
</html>