<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:security="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>All Customers</title>
</head>
<h3 th:inline="text" align="center">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
<form th:action="@{/logout}" method="post" align="center">
    <button style=";
        border: none;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        margin: 20px 15px;
        cursor: pointer;" class="btn btn-primary btn-lg">Logout
    </button>
</form>

<div sec:authorize="hasAuthority('ADMIN')">
    <a th:href="@{/customers/add}">
        <button  class="btn btn-success btn-lg">Add New Customer
        </button>
    </a>
</div>

<body>
<table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name Project</th>
        <th>Name Company</th>
        <th>Contract End Date</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="customer:${allCustomers}">
        <td th:text="${customer.id}">
        <td th:text="${customer.nameProject}">
        <td th:text="${customer.name}">
        <td th:text="${customer.contract}">
        <td>
            <div sec:authorize="hasAuthority('ADMIN')">
                <form th:action="@{/customers/delete/{customerId}(customerId=${customer.id})}" method="post">
                    <button
                            class="btn btn-danger btn-lg">DELETE
                    </button>
                </form>
            </div>
        </td>
        <td>
            <div sec:authorize="hasAuthority('ADMIN')">
                <form th:action="@{/customers/edit/{customerId}(customerId=${customer.id})}">
                    <button
                            class="btn btn-info btn-lg">UPDATE
                    </button>
                </form>
            </div>
        </td>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>