<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
</head>
<h3 th:inline="text" align="center">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
<form th:action="@{/logout}" method="post" align="center">
    <button style=";
        border: none;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        margin: 20px 15px;
        cursor: pointer;" class="btn btn-primary btn-lg">Logout
    </button>
</form>
<a th:href="@{/}">
    <button class="btn btn-info btn-lg">Home Page
    </button>
</a>
<h1 align="center">EDIT CUSTOMER</h1>
<span th:if="${customer =='Error!'}">Error!</span>
<span th:unless="${customer =='Error!'}">
<form action="#" th:action="@{/customers/submit}" method="post" th:object="${customer}">
            <p> <input type="hidden" th:field="*{id}"></p>
            <p> Name Project <input  type="text" th:field="*{nameProject}"></p>
            <p> Name Company <input type="text" th:field="*{name}"></p>
            <p> Contract End Date <input type="date" th:field="*{contract}"></p>
  <p>
        <button style="background-color: #1a53ff;
        border: none;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        margin: 20px 15px;
        cursor: pointer;" class="btn btn-primary btn-lg">Save
        </button>
    </p>
</form>
</span>
</html>